/*----------------- index.html ---------------------*/
/*----------------- HEADER ---------------------*/
header .header-index  {
  background: linear-gradient(90deg, #9b30ff 0%, #00ff9d 100%);
  text-align: center;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 20px #00ff9d66, 0 0 40px #9b30ff33;
}

header h1 .h1-index{
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #00ff9d, 0 0 20px #9b30ff;
  margin: 0;
}

/* ---------------- NAVBAR NEON ---------------- */
.navbar {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-image: url('../img/background_gradient.png');
  background-color: #121212;
  box-shadow: 0 0 15px #00ff9d44, 0 0 25px #9b30ff33;
  padding: 0 32px;
  height: 80px;
  font-family: 'Orbitron', sans-serif;
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

/* Logo */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-brand .logo-index {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Menú de navegación */
.navbar-nav {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
}

.navbar-nav .nav-link {
  font-family: 'Orbitron', sans-serif;
  color: #e0e0e0;
  padding: 8px;
}

.navbar-nav .nav-link:hover {
  color: #00ff9d;
  text-shadow: 0 0 5px #00ff9d, 0 0 10px #9b30ff;
}

/* Barra de búsqueda */
.search-index {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  max-width: 300px;
}

.search-index .form-control {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #00ff9d;;
  border: 1px solid #753ea9;
}

.search-index .form-control:focus {
  border-color: #ffffff;
  color: #121212;
}



.search-index .btn-primary3:hover {
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
}

/* Botones carrito, login y registro */
.navbar .d-flex.align-items-center {
  gap: 5px;
}

.navbar .btn-outline-light,
.navbar .btn-success {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  background-color: #00ff9d;
  color: #121212;

}

.btn-success:hover {
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
  color: #fff;

}


/* ---------------- CARRUSEL ---------------- */
.h3-carrusel {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
}

.btn-carrusel {
    font-family: 'Orbitron', sans-serif;
  background-color: #00ff9d;
  border: none;
  color: #121212;
  box-shadow: 0 0 10px #00ff9d, 0 0 20px #00ff9d;

}

.btn-carrusel:hover {
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
  color: #fff;
  box-shadow: 0 0 25px #9b30ff, 0 0 50px #9b30ff;
}


.carousel {
  margin-top: 100px; /* separa del navbar */
}

.carousel-item img {
  max-height: 500px;   
  object-fit: cover;
  width: 100%;
}


/* Indicadores (puntitos) */
.carousel-indicators button {
  background-color: #9b30ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #00ff9d ;
}

/* Flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: drop-shadow(0 0 6px #00ff9d) drop-shadow(0 0 10px #9b30ff);
}

/* ---------------- CARRITO ---------------- */
.btn-cart {
  background-color: transparent;
  border: 1px solid #00ff9d;
  color: #00ff9d;
  font-family: 'Orbitron', sans-serif;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-cart i {
  margin-right: 5px;
}

.btn-cart:hover {
  background-color: #00ff9d;
  color: #121212;
  box-shadow: 0 0 15px #00ff9d, 0 0 30px #00ff9d;
}

/* ---------------- Productos ---------------- */

.productos {
  margin-top: 20px;
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white;
}

.col-4 {
  flex: 0 0 320px;       /* ancho fijo para cada card */
  max-width: 320px;
  margin: 35px 10px 0 20px; /* margen superior y lateral para separación */
  display: flex;
  justify-content: right; 
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;           /* ocupa todo el ancho según col-4 */
  max-width: 320px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px #00ff9d, 0 0 30px #00ff9d;
  transition: box-shadow 0.3s ease;
}


.card:hover {
  box-shadow: 0 0 30px #00ff9d, 0 0 60px #9b30ff;
}


.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Empuja el contenido abajo */
}

.card-text {
  color: #121212;
}

.card-title {
  color: #121212;
}



/*---------------- FOOTER --------------------+*/
footer {
  margin-top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px;
  flex: 1;
}


.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  color: #e0e0e0;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 400;
}

.footer-links a:hover { 
  color: #9b30ff;
}

.footer-copy {
  opacity: 0.7;
  font-size: 13px;
}



/*----------------- Sesion.html ------------*/

/*----------------- BODY Y HEADER ------------*/
html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../img/background_gradient.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body {
  flex: 1;
}
header {
  position: relative;
  padding-top: 10px;
}


header .logo {
  width: 180px;
  margin: -20px;

}


/* Contenedor principal para centrar el formulario */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    color: #00ff9d; /* verde neón */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    color: #e0e0e0;
    text-align: center;
    margin-bottom: 0.5rem;
}

.nuevo-usuario {
    font-family: 'Orbitron', sans-serif;
    color: #8d8d8d;
    text-align: center;
}

.nuevo-usuario a {
    color: #d774ff; /* morado neón visible */
    text-decoration: none;
}

.nuevo-usuario a:hover {
    color: #ff99ff; /* morado neón claro */
}


/*----------------- FORM  ------------*/
form  {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* espacio uniforme entre elementos */
  align-items: stretch; /* todos mismo ancho */
}

.form-container {
  background: rgba(24, 10, 30, 0.78); 
  border: 2px solid #00ff9d;
  border-radius: 22px;
  box-shadow: 0 0 24px #00ff9d66, 0 0 40px #9b30ff33;
  padding: 30px;
  max-width: 400px;  /* ancho fijo simétrico */
  margin: 50px auto; /* centrado con margen superior */
}

/*----------------- INPUTS Y LABELS ------------*/
.form-container label {
  font-family: 'Orbitron', sans-serif;
  color: #e0e0e0;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #9b30ff;
  border-radius: 8px;
  background-color: #2a1e3e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #00ff9d;
  box-shadow: 0 0 12px #00ff9d;
  outline: none;
}

/* Texto debajo de inputs */
.form-text {
    font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  color: #aaa;
  margin-top: 1px;
  margin-bottom: 20px;
}

/*----------------- CHECKBOX ------------*/
.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-check-label {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #e0e0e0;
}

/*----------------- BOTONES ------------*/
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.btn-primary,
.btn-primary1 {
  width: 100%;  /* ambos mismo ancho */
  padding: 12px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #00ff9d;
  border: none;
  color: #121212;
  box-shadow: 0 0 10px #00ff9d, 0 0 20px #00ff9d;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
  color: #fff;
  box-shadow: 0 0 25px #9b30ff, 0 0 50px #9b30ff;
}

.btn-primary1 {
  background-color: #fff;
  border: none;
  color: #121212;
  box-shadow: 0 0 10px #00ff9d, 0 0 20px #00ff9d;
}

.btn-primary1:hover {
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
  color: #fff;
  box-shadow: 0 0 25px #9b30ff, 0 0 50px #9b30ff;
}

.recuperar-password a { 
    font-family: 'Orbitron', sans-serif;
    text-align: center;
     color: #fff; /* morado neón visible */ 
     text-decoration: none; } 

.recuperar-password a:hover { 
    color: #ff99ff;}


/*----------------- Registro.html ------------*/
/*----------------- HEADER ------------*/

.texto-bienvenida {
  font-size: 40px;
  margin-top: -120px;
  padding-top: 0;
}

.texto-registro {
  font-size: 20px;
  flex: 1;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

/*----------------- FORMULARIO GAMER NEON ----------------*/
.form-container2 {
  max-width: 500px;
  margin-top: 10px ;
  padding: 30px;
  background: rgba(24, 10, 30, 0.78); 
  box-shadow: 0 0 24px #00ff9d66, 0 0 40px #9b30ff33;
  border: 2px solid #00ff9d;
  border-radius: 22px;
  font-family: 'Orbitron', sans-serif;
  color: #e0e0e0;
}

/* Etiquetas */
.form-container2 .form-label {
  font-size: 14px;
  font-weight: bold;
  color: #f6f6f6;
  margin-bottom: 5px;
}

/* Inputs y selects uniformes */
.gamer-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #9b30ff;
  border-radius: 8px;
  background-color: #2a1e3e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease;
}

.gamer-input:focus {
  outline: none;
  border-color: #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
}


/* --------------BOTONES---------- */

.btn-primary{
  background-color: #00ff9d;
  border: none;
  color: #121212;
  box-shadow: 0 0 10px #00ff9d, 0 0 20px #00ff9d;
}

.btn-primary:hover{
  background: linear-gradient(45deg, #9b30ff, #7d20d4);
  color: #fff;
  box-shadow: 0 0 25px #9b30ff, 0 0 50px #9b30ff;
}


/* --------------acerca.html---------- */

.p-acerca {
  margin-top: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;

}

.mantenimiento {
  color: white;
  margin-top: 100px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
}